.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  padding-top: 70px;
  margin: 0; }

.portfolio__item {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
  position: relative;
  overflow: hidden; }

.portfolio__wrapper {
  width: 100%;
  margin: 0 auto;
  z-index: -100;
  background-color: #f1f1f1; }

.portfolio__info {
  background-color: rgba(255, 255, 255, 0.9);
  top: -400px;
  height: 352px;
  transition-duration: 0.15s;
  padding: 10px 0;
  position: absolute;
  text-align: center;
  color: #010914;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  display: block;
  width: 100%;
  z-index: 2;
  text-transform: uppercase; }

.portfolio__item:hover div {
  top: 0;
  z-index: 2; }

.portfolio--name {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 26px;
  position: relative;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px double #010914;
  border-width: 3px;
  padding: 15px; }

.portfolio--text {
  margin-bottom: 55px; }

.icon-search {
  border-top: 1px solid #010914;
  padding: 20px; }

.portfolio__item {
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out; }

.portfolio__item:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02); }

.wrapper {
  width: 900px;
  margin: 0 auto; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Robotolight.woff2") format("woff2"), url("../fonts/Robotolight.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Robotothin.woff2") format("woff2"), url("../fonts/Robotothin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

a {
  text-decoration: none;
  color: #838181;
  cursor: default; }

a:hover {
  color: #fff; }

li {
  list-style-type: none; }

body {
  margin: 0;
  padding: 0;
  background-color: #010914;
  font-family: 'Roboto';
  cursor: default; }

img {
  max-width: 100%;
  height: auto; }

.footer {
  padding-top: 20px;
  padding-bottom: 20px; }
  .footer__wrapper {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }

.footer-logo {
  color: #fff;
  display: flex;
  width: 121px;
  flex-direction: column;
  height: 50px; }
  .footer-logo__name {
    font-size: 24px;
    font-weight: 400;
    margin: 0; }
  .footer-logo__syname {
    font-size: 24px;
    font-weight: 300;
    margin-left: auto;
    margin-right: 0;
    margin-top: -6px;
    margin-bottom: 0; }

.social__list {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0; }

.social__link--gmail {
  margin-left: 15px;
  margin-right: 15px; }

.social__link {
  opacity: 0.6; }

.social__link:hover {
  opacity: 1; }

.social__item {
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out; }

.social__item:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02); }

.copyright {
  width: 121px;
  color: #fff;
  opacity: 0.5;
  font-size: 14px; }

.page-main {
  display: flex;
  flex-direction: column; }
  .page-main__top {
    background-color: #f1f1f1;
    width: 100%;
    height: 50vh; }
  .page-main__bottom {
    color: #f1f1f1;
    width: 100%; }

.logo {
  color: #010914;
  display: flex;
  width: 468px;
  margin: 0 auto;
  flex-direction: column;
  height: 180px;
  top: 50%;
  margin-top: -100px;
  position: relative; }
  .logo__name {
    font-size: 92px;
    font-weight: 400;
    margin: 0;
    position: relative; }
  .logo__syname {
    font-size: 92px;
    font-weight: 300;
    margin-left: auto;
    margin-right: 0;
    margin-top: -27px;
    margin-bottom: 0; }
  .logo__btn {
    position: absolute;
    left: 50%;
    margin-left: -140px;
    top: 50%;
    margin-top: -39px;
    text-transform: capitalize;
    border: 1px solid #f1f1f1;
    background-color: #010914;
    color: #fff;
    padding: 18px 36px 24px 45px;
    font-size: 36px;
    letter-spacing: 2px;
    font-weight: 100;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out; }
  .logo__btn:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02); }

.inform {
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
  margin-bottom: 50px; }

.about-me {
  width: 48%;
  text-align: center;
  text-transform: capitalize;
  font-weight: 300; }
  .about-me__greeting {
    opacity: 0.75;
    font-size: 42px;
    margin-top: 42px;
    margin-bottom: 25px;
    color: #fff; }
  .about-me__data {
    font-size: 22px;
    color: #838181;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 25px;
    position: relative;
    text-transform: none; }
  .about-me__more {
    font-size: 22px;
    /*margin-bottom: 66px;*/
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out; }
  .about-me__more:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02); }
  .about-me__data::after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -156px;
    bottom: -85px;
    height: 1px;
    width: 312px;
    background-image: url("../img/line-more.svg");
    background-repeat: no-repeat;
    background-position: 0 0; }
  .about-me__btn {
    color: #fff; }

.photo {
  width: 20%;
  margin-top: 45px;
  display: flex;
  justify-content: flex-end; }

.contacts {
  width: 30%;
  font-size: 24px;
  font-weight: 100;
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 20px; }
  .contacts__item {
    display: flex;
    color: #fff;
    opacity: 0.6;
    flex-wrap: no-wrap;
    align-items: center;
    margin-top: 10px;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out; }
  .contacts__item:hover {
    opacity: 1;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02); }
  .contacts__list {
    padding: 0;
    margin: 0; }
  .contacts__title {
    margin-left: 10px;
    text-transform: none; }

.header__logo {
  border: 1px solid #010914;
  height: 150px;
  width: 500px;
  position: relative;
  border-left: none;
  border-right: none;
  margin: 30px auto 30px auto; }

.header__title {
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 7.2px;
  text-transform: capitalize;
  text-align: center;
  color: #f1f1f1;
  position: relative; }

.mask__border {
  opacity: 0.3;
  position: absolute;
  background-color: #f1f1f1; }

.mask__about {
  position: absolute;
  background-color: #010914; }

.mask__top-left {
  top: -1px;
  left: 1px;
  width: 5%;
  height: 1px; }

.mask__top-right {
  top: -1px;
  right: 1px;
  width: 5%;
  height: 1px; }

.mask__bottom-left {
  bottom: -1px;
  left: 1px;
  width: 5%;
  height: 1px; }

.mask__bottom-right {
  bottom: -1px;
  right: 1px;
  width: 5%;
  height: 1px; }

.mask__left-bottom {
  left: 1px;
  bottom: 0;
  width: 1px;
  height: 15%; }

.mask__left-top {
  left: 1px;
  top: 0;
  width: 1px;
  height: 15%; }

.mask__right-bottom {
  right: 1px;
  bottom: 0;
  width: 1px;
  height: 15%; }

.mask__right-top {
  right: 1px;
  top: 0;
  width: 1px;
  height: 15%; }

.mask__top {
  top: 89px;
  left: 1px;
  width: 7%;
  height: 1px; }

.mask__right {
  right: 1px;
  bottom: 2px;
  width: 1px;
  height: 15%; }

.mask__bottom {
  bottom: 1px;
  right: 1px;
  width: 7%;
  height: 1px; }

.mask__left {
  left: 1px;
  top: 89px;
  width: 1px;
  height: 15%; }

.btn-close {
  position: fixed;
  z-index: 101;
  opacity: 0.5;
  right: 90px;
  top: 35px; }

.btn-close:hover {
  opacity: 1;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02); }

.about {
  width: 100%;
  margin: 0;
  background-color: #f1f1f1; }
  .about__container {
    width: 1100px;
    margin: 0 auto; }
  .about__promo {
    width: 850px;
    margin: 0 auto 50px auto;
    padding-top: 70px;
    color: #010914;
    font-size: 18px;
    line-height: 34px;
    position: relative; }
  .about__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px; }
  .about__item {
    width: 500px;
    color: #838181;
    margin: 0;
    margin-top: 40px; }
  .about__item:hover {
    color: #010914; }
  .about__text-instrument {
    padding-right: 46px; }
  .about__text-dynamics, .about__text-html, .about__text-automat {
    padding-right: 63px; }
  .about__item-title {
    color: #010914;
    font-size: 28px;
    padding-bottom: 10px;
    padding-left: 75px;
    margin: 0; }
  .about__item-html {
    position: relative; }
  .about__item-html::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    height: 50px;
    width: 50px;
    background-image: url("../img/about-html.svg");
    background-repeat: no-repeat;
    background-position: 0 0; }
  .about__item-adapt {
    position: relative; }
  .about__item-adapt::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    height: 50px;
    width: 50px;
    background-image: url("../img/about-adapt.svg");
    background-repeat: no-repeat;
    background-position: 0 0; }
  .about__item-automat {
    position: relative; }
  .about__item-automat::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px;
    height: 57px;
    width: 57px;
    background-image: url("../img/about-automat.svg");
    background-repeat: no-repeat;
    background-position: 0 0; }
  .about__item-dynamics {
    position: relative; }
  .about__item-dynamics::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    height: 50px;
    width: 50px;
    background-image: url("../img/about-js.svg");
    background-repeat: no-repeat;
    background-position: 0 0; }
  .about__item-graph {
    position: relative; }
  .about__item-graph::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    height: 50px;
    width: 50px;
    background-image: url("../img/about-graph.svg");
    background-repeat: no-repeat;
    background-position: 0 0; }
  .about__item-instrument {
    position: relative; }
  .about__item-instrument::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 4px;
    height: 50px;
    width: 50px;
    background-image: url("../img/about-instr.svg");
    background-repeat: no-repeat;
    background-position: 0 0; }
  .about__item:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02); }
  .about__title {
    color: #010914;
    font-size: 36px;
    letter-spacing: 2.2px;
    padding-top: 60px;
    margin-bottom: 60px;
    text-align: center; }
  .about__study {
    width: 576px;
    margin: 70px auto 0 auto;
    padding-bottom: 50px; }
  .about__item-study {
    font-size: 34px;
    position: relative;
    padding-left: 110px; }
  .about__item-study::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    height: 65px;
    width: 65px;
    background-image: url("../img/about-study.svg");
    background-repeat: no-repeat;
    background-position: 0 0; }

.about-text {
  border: 1px solid #f1f1f1;
  padding: 30px 55px 30px 55px;
  position: relative; }
