.about {
  width: 100%;
  margin: 0;
  background-color: #f1f1f1;

  &__container {
    width: 1100px;
    margin: 0 auto;
  }

  &__promo {
    width: 850px;
    margin: 0 auto 50px auto;
    padding-top: 70px;
    color: #010914;
    font-size: 18px;
    line-height: 34px;
    position: relative;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
  }

  &__item {
    width: 500px;
    color: #838181;
    margin: 0;
    margin-top: 40px;
  }

  &__item:hover {
    color: #010914;
  }

  &__text-instrument {
    padding-right: 46px;
  }

  &__text-dynamics, &__text-html, &__text-automat {
    padding-right: 63px;
  }

  &__item-title {
    color: #010914;
    font-size: 28px;
    padding-bottom: 10px;
    padding-left: 75px;
    margin: 0;
  }

  &__item-html {
    position: relative;
  }

&__item-html::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    height: 50px;
    width: 50px;
    background-image: url("../img/about-html.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &__item-adapt {
    position: relative;
  }

&__item-adapt::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    height: 50px;
    width: 50px;
    background-image: url("../img/about-adapt.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  &__item-automat {
    position: relative;
  }

&__item-automat::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px;
    height: 57px;
    width: 57px;
    background-image: url("../img/about-automat.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &__item-dynamics {
    position: relative;
  }

&__item-dynamics::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    height: 50px;
    width: 50px;
    background-image: url("../img/about-js.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &__item-graph {
    position: relative;
  }

&__item-graph::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    height: 50px;
    width: 50px;
    background-image: url("../img/about-graph.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &__item-instrument{
    position: relative;
  }

&__item-instrument::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 4px;
    height: 50px;
    width: 50px;
    background-image: url("../img/about-instr.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &__item:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
  }

  &__title {
    color: #010914;
    font-size: 36px;
    letter-spacing: 2.2px;
    padding-top: 60px;
    margin-bottom: 60px;
    text-align: center;
  }

  &__study {
    width: 576px;
    margin: 70px auto 0 auto;
    padding-bottom: 50px;
  }

  &__item-study {
    font-size: 34px;
    position: relative;
    padding-left: 110px;
  }

&__item-study::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    height: 65px;
    width: 65px;
    background-image: url("../img/about-study.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.about-text {
  border: 1px solid #f1f1f1;
  padding: 30px 55px 30px 55px;
  position: relative;
}

