.header {
  background-color: #010914;
  padding-top: 30px;
  padding-bottom: 30px;
  min-width: 1200px;

  &__logo {
    border: 1px solid #010914;
    height: 150px;
    width: 500px;
    position: relative;
    border-left: none;
    border-right: none;
    margin: 0 auto;
  }

  &__title {
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 7.2px;
    text-transform: capitalize;
    text-align: center;
    color: #f1f1f1;
    position: relative;
  }
}

  .mask {

  &__border {
    opacity: 0.3;
    position: absolute;
    background-color: #f1f1f1;
  }

  &__about{
    position: absolute;
    background-color: #010914;
  }

  &__top-left {
    top: -1px;
    left: 1px;
    width: 5%;
    height: 1px;
  }

  &__top-right {
    top: -1px;
    right: 1px;
    width: 5%;
    height: 1px;
  }

  &__bottom-left {
    bottom: -1px;
    left: 1px;
    width: 5%;
    height: 1px;
  }

  &__bottom-right {
    bottom: -1px;
    right: 1px;
    width: 5%;
    height: 1px;
  }

  &__left-bottom {
    left: 1px;
    bottom: 0;
    width: 1px;
    height: 15%;
  }

  &__left-top {
    left: 1px;
    top: 0;
    width: 1px;
    height: 15%;
  }

  &__right-bottom {
    right: 1px;
    bottom: 0;
    width: 1px;
    height: 15%;
  }

  &__right-top {
    right: 1px;
    top: 0;
    width: 1px;
    height: 15%;
  }

  &__top {
    top: 89px;
    left: 1px;
    width: 7%;
    height: 1px;
  }

  &__right {
    right: 1px;
    bottom: 2px;
    width: 1px;
    height: 15%;
  }

  &__bottom {
    bottom: 1px;
    right: 1px;
    width: 7%;
    height: 1px;
  }

  &__left {
    left: 1px;
    top: 89px;
    width: 1px;
    height: 15%;
  }
}


.btn-close {
  position: fixed;
  z-index: 101;
  opacity: 0.5;
  right: 90px;
  top: 35px;
}

.btn-close:hover {
  opacity: 1;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
}

@media only screen and (max-width: 900px){
  .header {
    min-width: 100vw;
  }
}

@media (max-width: 700px) {
  .header {

  &__title {
    font-size: 20px;
    padding-top: 38px;
  }

  &__logo {
    border: none;
    width: 260px;
    height: 100px;
  }
}

  .btn-close {
    right: 5px;
    top: 14px;
  }

  .mask {
    &__bottom {
      width: 30%;
    }

     &__right {
      height: 5%;
    }
}
}