.page-main {
  display: flex;
  flex-direction: column;

  &__top {
    background-color: #f1f1f1;
    width: 100%;
    height: 50vh;
  }

  &__bottom {
    color: #f1f1f1;
    width: 100%;
  }
}

.logo {
  color: #010914;
  display: flex;
  width: 468px;
  margin: 0 auto;
  flex-direction: column;
  height: 180px;
  top: 50%;
  margin-top: -100px;
  position: relative;

  &__name {
    font-size: 92px;
    font-weight: 400;
    margin: 0;
    position: relative;
  }

  &__syname {
    font-size: 92px;
    font-weight: 300;
    margin-left: auto;
    margin-right: 0;
    margin-top: -27px;
    margin-bottom: 0;
  }

  &__btn {
    position: absolute;
    left: 50%;
    margin-left: -140px;
    top: 50%;
    margin-top: -39px;
    text-transform: capitalize;
    border: 1px solid #f1f1f1;
    background-color: #010914;
    color: #fff;
    padding: 18px 36px 24px 45px;
    font-size: 36px;
    letter-spacing: 2px;
    font-weight: 100;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
  }

  &__btn:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
  }
}

.inform {
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
  margin-bottom: 50px;
}

.about-me {
  width: 48%;
  text-align: center;
  text-transform: capitalize;
  font-weight: 300;

  &__greeting {
    opacity: 0.75;
    font-size: 42px;
    margin-top: 42px;
    margin-bottom: 25px;
    color: #fff;
  }

  &__data {
    font-size: 22px;
    color:  #838181;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 25px;
    position: relative;
    text-transform: none;
  }

   &__more {
    font-size: 22px;
    /*margin-bottom: 66px;*/
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
  }

  &__more:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
  }

 &__data::after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -156px;
    bottom: -85px;
    height: 1px;
    width: 312px;
    background-image: url("../img/line-more.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &__btn {
    color: #fff;
  }
}

.photo {
  width: 20%;
  margin-top: 45px;
  display: flex;
  justify-content: flex-end;
}

.contacts {
  width: 30%;
  font-size: 24px;
  font-weight: 100;
  text-transform: uppercase;
  margin-top:40px;
  margin-left: 20px;

  &__item {
    display: flex;
    color: #fff;
    opacity: 0.6;
    flex-wrap: no-wrap;
    align-items: center;
    margin-top: 10px;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
  }

  &__item:hover {
    opacity: 1;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
  }

  &__list {
    padding: 0;
    margin: 0;
  }

  &__title {
    margin-left: 10px;
    text-transform: none;
  }
}


